<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :uname, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Minimum 6 characters" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm password" %>
  </div>

  <% if current_user %>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Current password" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit", class: 'form-control' %>
  </div>
<% end %>
