<%= form_tag charges_path do %>
  <h4>Click the button to donate: <%= @stripe_btn_data[:amount] %>!</h4>

  <%#= form_for @stripe_btn_data do |f| %>
    <%#= f.label :amount %>
    <%#= f.number_field :amount %>
    <%#= f.submit "Submit" %>
  <%# end %>


  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>
